.btn {
  text-transform: uppercase;
  color: var(--color-white);
  font-weight: 700;
  font-size: 24px;
  padding: 11px 0;
  border-radius: 10px;
  width: 185px;
  text-align: center;
  cursor: pointer;
}

.mint {
  background-color: var(--color-mint);
}

.blue {
  background-color: var(--color-blue);
}

.rose {
  background-color: var(--color-rose-200);
}

.gray {
  background-color: var(--color-gray-600);
}

.violet {
  background-color: var(--color-violet);
}

.fucsia {
  background-color: var(--color-fucsia);
}

@media screen and (max-width: 680px) {
  .btn {
    font-weight: 600;
    font-size: 22px;
    padding: 10px 0;
    width: 160px;
  }
}
