.message {
  width: fit-content;
  padding: 15px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.in {
  background-color: var(--color-rose-600);
  border-radius: 0 20px 20px 20px;
}

.out {
  background-color: var(--color-rose-700);
  border-radius: 20px 0 20px 20px;
  align-self: flex-end;
  margin-right: 15px;
}

.wrapper {
  display: flex;
  margin-bottom: 10px;
  position: relative;
  justify-content: space-between;
}

.text {
  color: var(--color-gray-400);
  font-weight: 600;
  font-size: 18px;
}

.edit-wrapper {
  width: fit-content;
  position: relative;
  font-weight: 600;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.input {
  background-color: var(--color-rose-700);
  font-weight: 600;
  font-size: 18px;
  border-bottom: 3px solid var(--color-rose-200);
  color: var(--color-gray-300);
  position: absolute;
  left: 0;
  width: calc(100% - 50px);
  padding: 0 0 3px 0;
  resize: none;
  top: 0;
  bottom: 0;
}

.btn {
  margin-left: 30px;
  width: 22px;
}

.time {
  color: var(--color-gray-300);
  font-weight: 500;
  font-size: 14px;
  align-self: flex-end;
}
