.root {
  position: absolute;
  width: 100%;
  height: auto;
  /* min-height: 400px; */
  width: 650px;
  background-color: var(--color-white);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
}

.close-btn {
  align-self: end;
  cursor: pointer;
}

.title {
  font-weight: 600;
  font-size: 48px;
  margin-bottom: 30px;
  color: var(--color-gray-1000);
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.input {
  width: 100%;
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 20px;
  color: var(--color-gray-700);
  border: solid 2px var(--color-gray-600);
  border-radius: 10px;
  padding: 10px 20px;
}

.input:focus {
  border: solid 2px var(--color-mint);
}

.password {
  margin-bottom: 50px;
}

.error {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 24px;
  border: solid 2px var(--color-fucsia);
  color: var(--color-fucsia);
  border-radius: 10px;
}
