.root {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  min-height: calc(100vh - 80px);
  min-height: calc(100dvh - 80px);
  max-width: 1200px;
  margin: 0 10px;
}

.preview-panel {
  width: 100%;
  max-width: 380px;
}

.search-container {
  display: flex;
  align-items: center;
  min-height: 90px;
}

.list {
  width: 100%;
  margin-top: 60px;
  max-height: 600px;
  overflow-y: scroll;
}

.search {
  background-color: var(--color-rose-100);
  color: var(--color-gray-300);
  font-weight: 600;
  font-size: 18px;
  padding: 10px 20px;
  width: 100%;
  height: 50px;
  border-radius: 20px;
  align-self: center;
}

.selected {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 60px;
}

.chat-panel {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  gap: 20px;
}

.back-btn {
  display: none;
}

.avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: var(--color-white-400);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid var(--color-rose-400);
}

.avatar-img {
  object-fit: cover;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.title {
  color: var(--color-gray-400);
  font-weight: 600;
  font-size: 20px;
}

.status {
  color: var(--color-gray-400);
  font-weight: 500;
  font-size: 16px;
}

.chat {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-height: 600px;
  overflow-y: auto;
}

.chat::-webkit-scrollbar,
.list::-webkit-scrollbar {
  width: 15px;
}

.chat::-webkit-scrollbar-track,
.list::-webkit-scrollbar-track {
  background: transparent;
}

.chat::-webkit-scrollbar-thumb {
  background: var(--color-rose-700);
  border-radius: 20px;
}

.new-message-form {
  display: flex;
  position: relative;
  width: 100%;
}

.new-message-input {
  background-color: var(--color-rose-700);
  width: 100%;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 20px;
  color: var(--color-gray-300);
  border-radius: 20px;
}

.new-message-btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
}

@media screen and (max-width: 1000px) {
  .root {
    margin: 0 10px;
    max-width: 600px;
    min-height: 0px;
  }

  .search-container {
    display: flex;
    align-items: center;
    min-height: 60px;
  }

  .chat-panel {
    width: 100%;
    min-height: 100vh;
    min-height: 0px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-white);
    z-index: 1;
    padding: 0px 10px;
  }

  .preview-panel {
    max-width: none;
  }

  .list {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    max-height: calc(100vh - 150px);
    max-height: calc(100dvh - 150px);
  }

  .selected {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-top: 10px;
    margin-bottom: 50px;
    overflow-y: scroll;
    max-height: calc(100vh - 90px);
    max-height: calc(100dvh - 90px);
  }

  .chat {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-height: calc(100dvh - 70px - 70px - 80px);
    overflow-y: auto;
  }

  .avatar {
    width: 60px;
    height: 60px;
  }

  .avatar-img {
    width: 50px;
    height: 50px;
  }

  .new-message-form {
    margin: auto 0 0 0;
  }

  .back-btn {
    display: block;
    padding: 10px;
  }
}
