@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

:root {
  --color-violet: #610f7f;
  --color-yellow: #eac435;
  --color-mint: #03cea4;
  --color-orange: #fb4d3d;
  --color-fucsia: #e40066;
  --color-blue: #345995;
}

html {
  font-family: "Quicksand", sans-serif;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

button {
  font-family: "Quicksand", sans-serif;
  border: none;
}

.root {
}
