.root {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 24px;
  border-radius: 10px;
  text-align: center;
}

.error {
  border: solid 2px var(--color-fucsia);
  color: var(--color-fucsia);
}

.success {
  border: solid 2px var(--color-mint);
  color: var(--color-mint);
}
